<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>453779234367-rpovm212u64ag05s0tled8smke33qm37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453779234367-rpovm212u64ag05s0tled8smke33qm37</string>
	<key>API_KEY</key>
	<string>AIzaSyBTL_WQ9jdFrLQ9Qxd8L2iOnuDzah3r9Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>453779234367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bwtdirectgroup.SweetMessage</string>
	<key>PROJECT_ID</key>
	<string>sweetmessage-4f0ff</string>
	<key>STORAGE_BUCKET</key>
	<string>sweetmessage-4f0ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453779234367:ios:b3cc7f7d8759a900</string>
	<key>DATABASE_URL</key>
	<string>https://sweetmessage-4f0ff.firebaseio.com</string>
</dict>
</plist>